<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bddify" version="0.7" />
  <package id="NSubstitute" version="1.2.0.0" />
  <package id="NuGet.Core" version="1.5.20902.9026" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="RazorEngine" version="2.1" />
  <package id="Shouldly" version="1.1.0.0" />
</packages>